@tailwind base;
@tailwind components;
@tailwind utilities;

[contenteditable]:empty::before {
  content: attr(data-placeholder);
  color: #6c727f;
}

.hamburgerBtn .options {
  display: none;
}

.hamburgerBtn:hover .options {
  display: flex;
}
